<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="1000">
        <setting label="1001" type="labelenum" id="MENU_DRIVER" values="lakka|rgui"/>
        <setting label="1002" type="enum" id="STOP_METHOD" lvalues="1020|1021"/>
    </category>
    <category label="1100">
        <setting label="1101" type="bool" id="DEBUG" default="false"/>
    </category>
</settings>
